<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-75 mt-4">
    <div class="card-body">
      <h5 class="card-title">Funcionários do Cargo: {{cargo.ca_nome}}</h5>
      <div style="height: 350px; overflow: auto;" class="mt-4">
        <table class="table">
          <thead>
            <tr class="codigo">
              <th scope="col">Código</th>
              <th scope="col">Nome do funcionário</th>
              <th scope="col">Cidade</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let func of funcionarios">
              <th class="user" scope="row">{{func.id_funcionario}}</th>
              <td>{{func.func_nome}}</td>
              <td>{{func.func_cidade}}</td>
              <td><i routerLink="/funcionario/edicao/{{func.id_funcionario}}/{{id_cargo}}" title="Editar Funcionário"  class="fas fa-edit"></i>
                <i routerLink="/funcionario/exclusao/{{func.id_funcionario}}" title="Excluir Funcionário" class="fas fa-trash-alt mx-2"></i>
              </td>
          </tbody>
        </table>

      </div>
      <i routerLink="/cargo/lista" class="fas fa-arrow-alt-left mt-5" title="Voltar a página anterior"></i>
    </div>
  </div>
</div>
