.row{
  width: 100%;
  margin: 0;
}

.col
{
  border: solid 1px #033249;

}

select{
  width: 100%;
}

.button-center
{
 text-align: center;
}

.button-end
{
 text-align: end;
}

span{
  display: none;
}





