<!-- mat-sidenav com angular material -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" >

    <img class="logo " src="assets/logo.jpg" />

    <div class="icon-nav">
      <ul>
        <li  routerLink="/home">
          <i class='bx bxs-home'></i><span>Home</span>
        </li>
        <li routerLink="/cargo/lista">
          <i class='bx bxs-id-card'></i><span>Cargos</span>
        </li>
        <li routerLink="/funcionario/funcComCargo">
          <i class='bx bx-group' ></i>
          <span>Funcionários</span>
        </li>
        <li routerLink="/mentor/mentorComCargo">
          <i class='bx bx-group' ></i>
          <span>Mentores</span>
        </li>
      </ul>
    </div>
    <div class="out-container">
      <i routerLink="/login" class='bx bx-log-out' role="button"></i>
    </div>
 </mat-sidenav>
 <!-- menu mobile -->
 <header>
  <nav>
    <i mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" role="button">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </i>
  </nav>
</header>
</mat-sidenav-container>
