li{
  cursor: pointer;
}

mat-sidenav {
  width: 280px;
  height: 100vh;
  border-right: none;
  background: #033249 ;
  color: white;
  padding: 16px;
  text-align: center;

}
mat-sidenav-container {
  height: 100vh;

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}
mat-icon {
      margin-right: 8px;
  }
.logo {
  margin-top: 16px;
  width: 200px;

}

.icon-nav{
  margin-top: 25px;
  text-align: left;
  padding: 10px;
}

.icon-nav ul {
  list-style: none;
}
.icon-nav ul li {
  padding: 15px;
  font-size: 20px;
}
.icon-nav span{
  margin-left: 8px;
}
.out-container{
  position: fixed;
  width: 250px;
  font-size: 25px;
  bottom: 50px;
}


/* header profile */
header  {
  display: flex;

}
.container-profile{
  width: 100vh;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.text-header{
  margin-top: 10px;

  font-size: 20px;
}

i{
  font-size: 25px;
  margin-right: 8px;
}


.codigo{
  padding-left: 4%;
  color:  #033249;
}
