select {
padding: 7px 40px 7px 12px;
width: 80%;
border: 1px solid #D3D3D3;
border-radius: 5px;
background: white;
box-shadow: 0 1px 3px -2px #9098A9;
cursor: pointer;
transition: all 150ms ease;
color: #5A667F;
}

.card{
  margin: 0 auto;
}

.button-center
{
 text-align: center;
}

.button-end
{
 text-align: end;
}

.row{
  width: 100%;
  margin: 0;
}

.col
{
  border: solid 1px #033249;

}

select{
  width: 100%;
}



