.button-cadastro {
  color: aliceblue;
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #033249 ;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
 }

 .button-cadastro:hover {
  background: #FF8038;
 }

 .button-cadastro > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
 }

 .button-cadastro:hover svg {
  transform: translateX(5px);
 }

 .button-cadastro:active {
  transform: scale(0.95);
 }


.codigo{
  padding-left: 3%;
  color:  #033249;
}

.td-pagar{
 text-align: center;
}



