<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-75 mt-4">
    <div class="card-body">
      <h3 class="card-title">Funcionários da empresa:</h3>

      <button routerLink="/funcionario/cadastrar">
        <span>Cadastrar</span>
        <svg width="20" height="20" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="37" cy="37" r="35.5" stroke="white" stroke-width="3"></circle>
          <path
            d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            fill="white"></path>
        </svg>
      </button>
      <div class="container" style="height: 480px; overflow: auto;">
        <div class="row mt-5">
          <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let func of funcionarios">
            <div class="card h-100" style="width: 13rem; height: 10rem;">
              <img src="{{func.func_foto}}" class="card-img-top" alt="..." width="70%">
              <div class="card-body">
                <h5 class="card-title">Nome: {{func.func_nome}}</h5>
                <h6 class="card-title">Cargo: {{func.ca_nome}}</h6>
                <div style="text-align: center;">
                  <i routerLink="/funcionario/boleto/{{func.id_funcionario}}" title="Boletos dos Funcionários"
                    class="fa-solid fa-coins  mx-2"></i>
                  <i routerLink="/funcionario/atribuirCargo/{{func.id_funcionario}}/{{func.id_cargo}}"
                    class="fa-solid fa-file-signature  mx-2" title="Atribuir cargo ao funcionário"></i>
                  <i routerLink="/funcionario/edicao/{{func.id_funcionario}}/{{func.id_cargo}}" class="fas fa-edit  mx-2"
                    title="Editar Funcionário"></i>
                  <i routerLink="/funcionario/exclusao/{{func.id_funcionario}}" title="Excluir Funcionário"
                    class="fas fa-trash-alt  mx-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
