<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-50 mt-5">
    <div class="card-body">
      <h5 class="card-title">Excluir Mentor</h5>
      <form>
        <div class="mb-3">
          <label class="form-label">Nome do mentor</label>
          <input type="text" class="form-control" [(ngModel)]="mentor.mentor_nome" name="mentor_nome">
        </div>
        <div class="mb-3">
          <label class="form-label">Cargo do Mentor</label>
          <input type="text" class="form-control" [(ngModel)]="mentor.mentor_cargo" name="mentor_cargo">
        </div>
        <div class="mb-3">
          <label class="form-label">CPF do Mentor</label>
          <input type="text" class="form-control" [(ngModel)]="mentor.mentor_cpf" name="mentor_cpf">
        </div>
        <button (click)="cancelarExclusao()" class="btn btn-secondary mx-3">Voltar</button>
        <button type="reset" class="btn btn-secondary mx-3">Limpar</button>
        <button class="btn btn-c mx-3" (click)="open(modalExcluir)">Excluir</button>
        <!-- Modal de confirmação para excluir mentor-->
         <ng-template #modalExcluir let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="excluir">Aviso</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <p>Deseja realmente excluir o Mentor {{mentor.mentor_nome}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-s" (click)="modal.close('Save click')">Cancelar</button>
            <button type="button" class="btn-e"  (click)="excluirMentor();modal.close('Save click')">Excluir</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>

