<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-50 mt-5">
  <div class="card-body">
    <h5 class="card-title">Exclusão de Boleto</h5>
    <form>
      <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" [(ngModel)]="boleto.bo_descricao" name="bo_descricao"  readonly>
      </div>
      <div class="mb-3">
        <label class="form-label">Data de Vencimento</label>
        <input type="date" class="form-control" [(ngModel)]="boleto.bo_dataVencimento" name="bo_dataVencimento"  readonly >
      </div>
      <div class="mb-3">
        <label class="form-label">Valor</label>
        <input type="text" class="form-control" [(ngModel)]="boleto.bo_valor" name="bo_valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"  readonly>
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label>
        <input type="text" class="form-control" [(ngModel)]="boleto.bo_status" name="bo_status" readonly>
      </div>
      <button class="btn btn-secondary mx-3" routerLink="/funcionario/boleto/{{id_funcionario}}">Cancelar</button>
      <button class="btn btn-e" (click)="open(modalExcluir)">Excluir</button>
       <!-- Modal de confirmação para excluir boleto-->
       <ng-template #modalExcluir let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="excluir">Aviso</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja realmente excluir o Boleto {{boleto.bo_descricao}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-s" (click)="modal.close('Save click')">Cancelar</button>
          <button type="button" class="btn-e"  (click)="excluirBoleto();modal.close('Save click')">Excluir</button>
        </div>
      </ng-template>
    </form>
    <hr>
  </div>
</div>>


