<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-50 mt-5">
    <div class="card-body">
      <h5 class="card-title">Editar Boleto</h5>
      <form>
        <div class="mb-3">
          <label class="form-label">Descrição</label>
          <input type="text" class="form-control" [(ngModel)]="boleto.bo_descricao" name="bo_descricao">
        </div>
        <div class="mb-3">
          <label class="form-label">Data de Vencimento</label>
          <input type="date" class="form-control" [(ngModel)]="boleto.bo_dataVencimento" name="bo_dataVencimento" [readonly]="boleto.bo_status == 'CANCELADO' || boleto.bo_status == 'PAGO'">
        </div>
        <div class="mb-3">
          <label class="form-label">Valor</label>
          <input type="text" currencyMask min="0" class="form-control" [(ngModel)]="boleto.bo_valor" name="bo_valor"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" [readonly]="boleto.bo_status == 'CANCELADO' || boleto.bo_status == 'PAGO'">
        </div>
        <!-- <div class="mb-3">
          <label class="form-label">Status</label>
          <input type="text" class="form-control" [(ngModel)]="boleto.bo_status" name="bo_status" readonly>
        </div> -->
        <button routerLink="/funcionario/boleto/{{id_funcionario}}" class="btn btn-secondary mx-3">Cancelar</button>
        <button (click)="editarBoleto()" class="btn btn-e">Editar</button>
      </form>
      <hr>
    </div>
  </div>
</div>
