<div class="container-main">
  <!-- side-nav -->
  <app-header></app-header>
  <!-- side-nav -->
  <div class="container w-50 mt-5">
    <div class="card-body">
      <h5 class="card-title">Excluir Funcionário</h5>
      <form>
        <div class="mb-3">
          <label class="form-label">Nome do Funcionário</label>
          <input type="text" class="form-control" readonly [(ngModel)]="funcionario.func_nome" name="func_nome">
        </div>
        <div class="mb-3">
          <label class="form-label">Cidade do funcionário</label>
          <input type="text" class="form-control" readonly [(ngModel)]=" funcionario.func_cidade" name="func_cidade">
        </div>
        <button routerLink="/funcionario/funcComCargo" class="btn btn-secondary mx-3">Voltar</button>
        <button type="reset" class="btn btn-secondary mx-3">Cancelar</button>
        <button class="btn btn-c mx-3" (click)="open(modalExcluirFunc)">Excluir</button>

        <!-- Modal de confirmação para excluir funcionário-->
        <ng-template #modalExcluirFunc let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="excluir">Aviso</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <p>Deseja realmente excluir o(a) funcionário(a) {{funcionario.func_nome}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-s" (click)="modal.close('Save click')">Cancelar</button>
            <button type="button" class="btn-e" (click)="excluirFunc();modal.close('Save click')">Excluir</button>
            </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>
