html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Ícones */
.fa-edit {
  color: #1c6c94;
  cursor: pointer;
  font-size: 15px;
}

.fa-chalkboard-user{
  color: #1c6c94;
  cursor: pointer;
  font-size: 15px;
}

.fa-trash-alt{
  color: #FF8038;
  cursor: pointer;
  font-size: 15px;
}

.fa-user{
  color: #1c6c94;
  cursor: pointer;
  font-size: 15px;
}

.fa-arrow-alt-left {
  cursor: pointer;
  color: #033249;
  margin-left: 2%;
  cursor: pointer;
}

.fa-book-open{
  color: #1c6c94;
  cursor: pointer;
  margin-left: 30%;
  font-size: 15px;
}

.fa-window-close{
  color: #033249;
  cursor: pointer;
}

.fa-comment-dollar{
  cursor: pointer;
  color: #033249;
  cursor: pointer;
}

.container-main{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.card-title {
  font-weight: 600;
  color:#033249;
  text-align: center;
}

.fa-briefcase {
  cursor: pointer;
  color: #1c6c94;
  margin-left: 30%;
  font-size: 15px;
}

.fa-coins{
  cursor: pointer;
  color: #1c6c94;
  margin-left: 25%;
  font-size: 15px;
}

.card-text{
  text-align: center;
}

.cor-mensagem {
  background-color: aliceblue;
  color: black;
}

/* Botões */
.btn-s {
  border: none;
  background-color:  #9c9c9c;
  padding: 8px;
  color: #ffffff;
  border-radius: 3px;
}

.btn-e {
  border: none;
  background-color: #FF8038;
  padding: 8px;
  color: #ffffff;
  border-radius: 3px;
}

.btn-c{
  background-color: #FF8038;
  color: white;
}

/* Modais */
.modal-title{
  width: 100%;
  color: #1c6c94;
 text-align: center;
}

.modal-body {
  text-align: center;
}

.modal-body p {
  margin-top: 3%
}

#excluir {
  font-weight: 600;
}

.modal-header {
  align-items: center;
}

.button-modal {
  border: none;
  padding: 8px;
  border-radius: 3px;
  background-color: #9c9c9c;
  color: #ffffff;
}

.btn-s:disabled {
  background-color: #fad75a;
}

/* Selects */
select {
  -moz-appearance: none;
  position: relative;
  width: 100%;
  padding: 7px 0;
  border: 1px solid  #1c6c94;
  border-radius: 6px;
  outline: none;
  font-size: 1em;
  background-repeat: no-repeat;
  background-position-x: calc(100% - (10px));
  background-position-y: center;
  border-bottom: 1.5px solid darkgray;
}

select:focus {
  background: transparent;
}

/* Listas */
li{
  cursor: pointer;
}

/*Sidenav */
mat-sidenav {
  width: 280px;
  height: 100vh;
  border-right: none;
  background: #033249 ;
  color: white;
  text-align: center;
}

mat-sidenav-container {
  height: 100vh;

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;


}

mat-icon {
  margin-right: 8px;
}

.logo {
  margin-top: 16px;
  width: 200px;

}

.icon-nav{
  margin-top: 25px;
  text-align: left;
  padding: 10px;
}

.icon-nav ul {
  list-style: none;
}
.icon-nav ul li {
  padding: 15px;
  font-size: 20px;
}
.icon-nav span{
  margin-left: 8px;
}
.out-container{
  position: fixed;
  width: 250px;
  font-size: 25px;
  bottom: 50px;
}


/* header profile */
header  {
  display: flex;

}
.container-profile{
  width: 100vh;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.text-header{
  margin-top: 10px;

  font-size: 20px;
}

i{
  font-size: 25px;
  margin-right: 8px;
}

/* Alinhar os id */
.codigo{
  padding-left: 4%;
  color:  #033249;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
