<div class="container-main">
   <!-- side-nav -->
   <app-header></app-header>
   <!-- side-nav -->
  <div class="container w-50 mt-5">
    <div class="card-body">
      <h5 class="card-title">Cadastro de novo Funcionário</h5>
      <form>
        <div class="mb-3">
          <label class="form-label">Nome do Funcionário</label>
          <input type="text" class="form-control" [(ngModel)]="func.func_nome" name="func_nome">
        </div>
        <div class="mb-3">
          <label class="form-label">Cidade do funcionário</label>
          <input type="text" class="form-control" [(ngModel)]="func.func_cidade" name="func_cidade">
        </div>
        <div class="mb-3">
          <label class="form-label">CPF do Funcionário</label>
          <input type="text" class="form-control" [(ngModel)]="func.func_cpf" name="func_cpf">
        </div>
        <button (click)="cancelarCadastro()" class="btn btn-secondary mx-3">Voltar</button>
        <button type="reset" class="btn btn-secondary mx-3">Limpar</button>
        <button class="btn btn-c mx-3" (click)="cadastrarFunc()">Cadastrar</button>
        <hr>
        <!--Fica habilitado somente quando cadastra o funcionário-->
        <div class="mb-3">
          <label class="form-label">Foto do Mentor</label>
          <input type="file" class="form-control" [disabled]="!funcCadastrado" (change)="subirFoto($event)">
        </div>
      </form>
    </div>
  </div>
</div>
